body{
font-family: "Verdana", sans-serif;
font-size: 16px;
background: #546DA6;
color: #96D0B2;
}

footer{
  font-family: "Robots", sans-serif;
  color: #ffffff;
}

/* (ul, li, li a, & hover) for the navigation bar */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

 nav li {
  float: left;
}

li a {
  display: block;
  color:  #69C4F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  /*background-color: #5b83d8;*/
  color: #ffffff;
}

#Main_body{
  background: #36454f;
  color: #eaecf2
  padding: 10px;
}

#resume {
  display: block;
  max-width: 130px;
  color: #7aa7e1;
}

#resume:hover{
  color: #ffffff;
}
