/*---         Nav       ---*/

/* (ul, li, li a, & hover) for the navigation bar */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

 nav li {
  float: left;
}

li a {
  /*
  display: block;
  color:  #69C4F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  */
  padding: 15px;
  font-size: 30px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
   box-shadow: 0 16px 48px #E3E7EB;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  /*background-color: #5b83d8;*/
  color: #ffffff;
}
/*---         Nav       ---*/


/*---         footer       ---*/
footer{
  font-family: "Robots", sans-serif;
  color: #ffffff;
}
/*---         footer       ---*/
