/*---         Nav       ---*/

#nav-placeholder{
  background-color: #333d45;
}

nav {
  padding: 2px;
  margin-bottom: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav a {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #5d646f;
  color: #FF8B01;
}

 nav li {
  float: left;
}

li > a {
  display: block;
  text-align: center;
  padding: 14px 16px;
}

/* Change the link color to #111 (black) on hover */
li > a:hover {
  /*background-color: #5b83d8;*/
  background-color: #4c535f;
  color: #FF8B01;
  text-decoration: none;
}
/*---         Nav       ---*/


/*---         footer       ---*/
footer{
  font-family: "Robots", sans-serif;
  color: #ffffff;
}
/*---         footer       ---*/
